body{
    background-color: rgb(255, 236, 211);
}

.logo{
    height: 50px;
}

h2{
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
}

.line{
    background-color: gray;
    margin: .5rem auto 1rem;
    width: 60%;
    height: 2px;
}

.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.task{
    width: 45%;
}

.list{
    padding: 0%;
}

li{
    list-style-type: none;
}

.form-check-input{
    width: 25px;
    height: 25px;
    margin-top: .5rem;
}

.todo-task{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    margin-left: .5rem;
}

.delete-todo{
    margin: .5rem;
}

.task-complete{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.mario{
    height: 200px;
    display: block;
    margin: 0 auto;
}
